DATABASE_URL="postgresql://postgres:admin@localhost:5444/mely_db"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
APP_BASE_URL="http://localhost:3000"
PASSWORD_RESET_TOKEN_TTL_MINUTES="30"
NODE_ENV="development"
PORT="3000"
